#macOS
.DS_Store

# LaTeX intermediate files
*.blg
*.bbl
*.brf
*.idx
*.ilg
*.ind
*.aux
*.log
*.fdb_latexmk
*.fls
*.out
*.synctex.gz
*.toc
*.pdf
*.lof
*.lot
*.nav
*.snm
*.vrb
*.xdv
*.dvi
*.tex~
*.backup
*.bak
*.run.xml
*.bcf
*.blx.bib
*.fls
*.synctex.gz
*.fdb_latexmk
*.maf
*.mtc*
*.upa
*.upa
*.pdfsync
*.thm
*.lg
*.ptc
*.spl
*.tdo
*.tps